Q1)

In [1]:
import pandas as pd

In [2]:
data=[4,8,15,16,23,42]

df=pd.DataFrame(data)
print(df)

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [3]:
df[0]

0     4
1     8
2    15
3    16
4    23
5    42
Name: 0, dtype: int64

Q2)

In [12]:
variable=["a","s","d","f","g","z","x","c","v","b"]

In [13]:
df1=pd.Series(variable)

In [14]:
print(df1)

0    a
1    s
2    d
3    f
4    g
5    z
6    x
7    c
8    v
9    b
dtype: object

Q3)

In [15]:
data1={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}

df2=pd.DataFrame(data1)
print(df2)

Q4)

DataFrame is a 2 dimensional data structure used to arrange data in rows and columns specially of different types.
Whereas series is a 1 dimensional and data must be of a single type.

Q5)

Some common functions are read.csv , read.html , to.csv etc.

read.csv is used to extract data from a csv file.
to.csv is used to save dataframe as csv file.

Q6)

Series is immutable.
DataFrame is Immutable.
Panel is size mutable.

Q7)

In [24]:
name=pd.Series(["Rajat","Atul"])
age=pd.Series([21,22])
gender=pd.Series(["Male","Male"])

df4=pd.concat([name,age,Gender],axis=1)
print(df4)

       0   1     2
0  Rajat  21  Male
1   Atul  22  Male